* {
    margin: 0;
}

body {
    font: 18px "Nunito", sans-serif;
    background-color: darkslategrey;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    border: 2px solid azure;
    background-color: dimgrey;

    width: 700px;
    height: 600px;
}

.card > h3 {
    color: azure;
}

.card > p {
    color: azure;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.card-row > video {
    border-radius: 10%;
    width: 200px;
    transition: all .2s
}

.card-row > video:hover {
    cursor: pointer;
    transform: scale(1.05);
}